<aside
  class="fixed top-header bottom-0 left-0 z-10 transition-all border-r border-zinc-700 bg-bg-primary"
  [class.w-aside-active]="asideService.isAsideActiveService()"
  [class.w-aside]="!asideService.isAsideActiveService()"
>
  <div class="h-full flex flex-col gap-4 w-full py-4">
    <div class="flex items-center gap-4">
      <button
        (click)="asideService.toggleAside()"
        type="button"
        class="w-8 h-8 aspect-square rounded-lg transition-colors cursor-pointer ml-4 flex items-center justify-center hover:bg-zinc-700"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <rect width="24" height="24" fill="none" />
          <path
            fill="currentColor"
            d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1m0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1M3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1"
          />
        </svg>
      </button>
      <a
        routerLink="/"
        class="text-2xl text-center px-2 font-semibold text-blue-500 transition-opacity md:px-4 lg:px-6"
        [class.opacity-0]="!asideService.isAsideActiveService()"
        [class.opacity-100]="asideService.isAsideActiveService()"
      >
        SociAlex
      </a>
    </div>
    <div class="flex flex-col gap-4">
      <ul class="flex flex-col">
        @if (authService.getCurrentUser()) {
          <li class="transition-colors hover:bg-zinc-700">
            <a
              class="w-full h-12 px-4 aspect-square rounded-md flex items-center transition-colors"
              routerLink="/socialex/my-profile"
              routerLinkActive="bg-blue-500"
              title="Perfil"
            >
              <div class="flex items-center gap-4">
                <img
                  [src]="authService.getCurrentUser()?.avatar"
                  [alt]="authService.getCurrentUser()?.name"
                  class="w-8 h-8 aspect-square rounded-full"
                />
                <span
                  class="transition-opacity min-w-max w-max max-w-full"
                  [class.opacity-100]="asideService.isAsideActiveService()"
                  [class.opacity-0]="!asideService.isAsideActiveService()"
                >
                  {{ authService.getCurrentUser()?.name }}
                </span>
              </div>
            </a>
          </li>
        }
        @for (element of asideList; track element.route) {
          <li class="transition-colors hover:bg-zinc-700">
            <a
              class="w-full h-12 px-5 aspect-square rounded-md flex items-center transition-colors"
              [routerLink]="element.route"
              routerLinkActive="bg-blue-500"
              [title]="element.title"
            >
              <div class="flex items-center gap-4">
                <img [srcset]="element.icon" [alt]="element.title" class="w-6 h-6 aspect-square" />
                <span
                  class="transition-opacity"
                  [class.opacity-100]="asideService.isAsideActiveService()"
                  [class.opacity-0]="!asideService.isAsideActiveService()"
                >
                  Noticias
                </span>
              </div>
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</aside>
