<aside
  class="fixed top-header bottom-0 left-0 z-10 transition-all border-r border-zinc-700 bg-bg-primary"
  [class.w-aside-active]="asideService.isAsideActiveService()"
  [class.w-aside]="!asideService.isAsideActiveService()"
>
  <div class="h-full flex flex-col gap-4 w-full py-4">
    <div class="flex items-center gap-4">
      <button
        (click)="asideService.toggleAside()"
        type="button"
        class="w-8 h-8 aspect-square rounded-lg transition-colors cursor-pointer ml-4 flex items-center justify-center hover:bg-zinc-700"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <rect width="24" height="24" fill="none" />
          <path
            fill="currentColor"
            d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1m0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1M3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1"
          />
        </svg>
      </button>
      <a
        routerLink="/"
        class="text-2xl text-center px-2 font-semibold text-blue-500 transition-opacity md:px-4 lg:px-6"
        [class.opacity-0]="!asideService.isAsideActiveService()"
        [class.opacity-100]="asideService.isAsideActiveService()"
      >
        SociAlex
      </a>
    </div>
    <div class="flex flex-col gap-4">
      <ul class="flex flex-col">
        <li class="">
          <a
            class="w-full h-12 px-5 aspect-square rounded-md flex items-center transition-colors hover:bg-gray-700"
            routerLink="/socialex/news"
            routerLinkActive="bg-blue-500"
            title="Noticias"
          >
            <div class="flex items-center gap-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 2048 2048"
              >
                <rect width="24" height="24" fill="none" />
                <path
                  fill="currentColor"
                  d="M2048 512v896q0 53-20 99t-55 81t-82 55t-99 21H249q-51 0-96-20t-79-53t-54-79t-20-97V256h1792v256zm-128 128h-128v704q0 26-19 45t-45 19t-45-19t-19-45V384H128v1031q0 25 9 47t26 38t39 26t47 10h1543q27 0 50-10t40-27t28-41t10-50zm-384 0H256V512h1280zm0 768h-512v-128h512zm0-256h-512v-128h512zm0-256h-512V768h512zm-640 512H256V765h640zm-512-128h384V893H384z"
                />
              </svg>
              <span class="transition-opacity" [class.opacity-100]="asideService.isAsideActiveService()" [class.opacity-0]="!asideService.isAsideActiveService()">Noticias</span>
            </div>
          </a>
        </li>
        <li class="">
          <a
            class="w-full h-12 px-5 aspect-square rounded-md flex items-center transition-colors hover:bg-gray-700"
            routerLink="/socialex/music"
            routerLinkActive="bg-blue-500"
            title="Música"
          >
            <div class="flex items-center gap-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <rect width="24" height="24" fill="none" />
                <g fill="none">
                  <path
                    d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                  />
                  <path
                    fill="currentColor"
                    d="M21 5.18V17a4 4 0 1 1-2-3.465V9.181L9 10.847V18q0 .09-.015.174A3.5 3.5 0 1 1 7 15.337v-8.49a2 2 0 0 1 1.671-1.973l10-1.666A2 2 0 0 1 21 5.18M5.5 17a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3M17 15a2 2 0 1 0 0 4a2 2 0 0 0 0-4m2-9.82L9 6.847V8.82l10-1.667z"
                  />
                </g>
              </svg>
              <span class="transition-opacity" [class.opacity-100]="asideService.isAsideActiveService()" [class.opacity-0]="!asideService.isAsideActiveService()">Música</span>
            </div>
          </a>
        </li>
        <li class="">
          <a
            class="w-full h-12 px-5 aspect-square rounded-md flex items-center transition-colors hover:bg-gray-700"
            routerLink="/socialex/watch"
            routerLinkActive="bg-blue-500"
            title="Multimedia"
          >
            <div class="flex items-center gap-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <rect width="24" height="24" fill="none" />
                <path
                  fill="currentColor"
                  d="m20.713 8.128l-.246.566a.506.506 0 0 1-.934 0l-.246-.566a4.36 4.36 0 0 0-2.22-2.25l-.759-.339a.53.53 0 0 1 0-.963l.717-.319a4.37 4.37 0 0 0 2.251-2.326l.253-.611a.506.506 0 0 1 .942 0l.253.61a4.37 4.37 0 0 0 2.25 2.327l.718.32a.53.53 0 0 1 0 .962l-.76.338a4.36 4.36 0 0 0-2.219 2.251M2.992 3H14v2H4v14h16v-8h2v9.007a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V3.993A1 1 0 0 1 2.992 3m7.63 5.415l4.879 3.252a.4.4 0 0 1 0 .666l-4.88 3.252a.4.4 0 0 1-.621-.332V8.747a.4.4 0 0 1 .622-.332"
                />
              </svg>
              <span class="transition-opacity" [class.opacity-100]="asideService.isAsideActiveService()" [class.opacity-0]="!asideService.isAsideActiveService()">Multimedia</span>
            </div>
          </a>
        </li>
        <li class="">
          <a
            class="w-full h-12 px-5 aspect-square rounded-md flex items-center transition-colors hover:bg-gray-700"
            routerLink="/socialex/games"
            routerLinkActive="bg-blue-500"
            title="Juegos"
          >
            <div class="flex items-center gap-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 512 512"
              >
                <rect width="24" height="24" fill="none" />
                <path
                  fill="currentColor"
                  d="M368 168h-96v-64h176a24.027 24.027 0 0 0 24-24V16h-32v56H264a24.027 24.027 0 0 0-24 24v72h-96A128.145 128.145 0 0 0 16 296v100.953A91.15 91.15 0 0 0 107.047 488h1.8a90.8 90.8 0 0 0 69.953-32.76L231.5 392h48.628l52.666 68.465A91.046 91.046 0 0 0 496 404.953V296a128.145 128.145 0 0 0-128-128m96 236.953a59.047 59.047 0 0 1-105.849 36L295.878 360h-79.372l-62.294 74.754A58.9 58.9 0 0 1 108.85 456h-1.8A59.113 59.113 0 0 1 48 396.953V296a96.11 96.11 0 0 1 96-96h224a96.11 96.11 0 0 1 96 96Z"
                />
                <path
                  fill="currentColor"
                  d="M360 248h32v32h-32zm0 80h32v32h-32zm-40-40h32v32h-32zm80 0h32v32h-32zm-248-40h-32v40H80v32h40v40h32v-40h40v-32h-40z"
                />
              </svg>
              <span class="transition-opacity" [class.opacity-100]="asideService.isAsideActiveService()" [class.opacity-0]="!asideService.isAsideActiveService()">Juegos</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
