<form
  class="w-full h-full flex flex-col gap-8 justify-center md:p-4"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  @if (hasError()) {
    <div role="alert" class="alert alert-error fixed top-5 z-10 w-max max-w-9/10 mx-auto inset-x-0 animate-fade-in">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Verifique que los datos ingresados sean correctos</span>
    </div>
  }
  <div class="flex flex-col gap-4">
    <h2 class="text-title-section text-center">Inicia Sesión</h2>
    <span class="text-sm text-gray-300">
      ¿No tienes una cuenta?
      <a class="text-blue-500 underline" [routerLink]="['/auth/register']">Registrate aquí</a>
    </span>
  </div>
  <div class="flex flex-col gap-6">
    @for (inputField of inputsFields; track inputField.title) {
      <input-field [inputField]="inputField" [formInput]="loginForm" />
    }
  </div>
  <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>