<app-section-component>
  <div class="flex flex-col gap-6">
    @if (authService.authStatus() === 'authenticated') {
      <create-post />
    } @else if (authService.authStatus() === 'not-authenticated') {
      <h1 class="text-3xl font-semibold max-w-full overflow-hidden">Últimas novedades</h1>
    }
    @if (postsResource.isLoading() && allPosts().length === 0) {
      <div class="w-full min-h-[70dvh] flex items-center justify-center">
        <span class="loading loading-spinner text-primary"></span>
      </div>
    } @else {
      <section class="w-full flex flex-col gap-4">
        @for (post of allPosts(); track post.id) {
          <post-card [post]="post" />
        }
        <div #infiniteScrollTrigger class="h-6">
          @if (isLoadingMorePosts() && hasMorePosts()) {
            <div class="w-full h-6 flex justify-center items-center py-4">
              <span class="loading loading-spinner text-primary"></span>
            </div>
          }
        </div>
      </section>
      @if (postsResource.error()) {
        <div class="w-full flex justify-center items-center">
          <span class="text-error">
            Ocurrió un error, reportalo con Alesis y dile que se ponga a chambear 😾
          </span>
        </div>
      }
    }
  </div>
</app-section-component>