<div class="container-alesis">
  <h2 class="text-lg">Perfil de {{ user()?.name }}</h2>
  <div class="flex flex-col gap-4">
    <div class="flex items-center gap-4">
      <img
        class="w-16 h-16 aspect-square rounded-full"
        [src]="user()?.avatar"
        alt="Avatar"
        draggable="false"
      />
      <div class="flex flex-col">
        <span class="text-xl font-semibold">{{ user()?.name }}</span>
        <span class="text-xs text-gray-500">{{ user()?.profession }}</span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-sm font-semibold">Fecha de nacimiento</span>
      <span class="text-xs text-gray-500">{{ user()?.birthdate }}</span>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-sm font-semibold">Estado</span>
      <span class="text-xs text-gray-500">{{ user()?.status }}</span>
    </div>
  </div>
</div>