<section
  class="bg-black/80 fixed inset-0 w-dvw h-dvh z-50 flex items-center justify-center animate-fade-in"
  (click)="closeModal()"
>
  <div class="bg-bg-secondary rounded-lg overflow-hidden h-modal-reactions w-9/10 max-w-xl mx-auto" (click)="$event.stopPropagation()">
    <div class="w-full px-2 h-12 flex gap-1 items-center bg-bg-tertiary">
      @for (btn of btnsReactions; track btn.type) {
        <button
          type="button"
          class="flex-1 h-9/10 m-auto transition-colors flex items-center justify-center gap-x-2 border-b-2 cursor-pointer rounded-tl-lg rounded-tr-lg hover:bg-bg-secondary relative"
          (click)="changeReactionType(btn.type)" 
          [ngClass]="{
            'border-blue-500 bg-bg-secondary': showReactionType() === btn.type
          }"
          title="like"
        >
          <div class="flex items-center gap-gap-4-vw-16">
            <img
              [src]="btn.icon"
              [alt]="'icon: ' + btn.type"
              class="w-reactions h-reactions flex-shrink-0 object-contain object-center"
              />
              <span class="text-xs">{{ btn.count }}</span>
          </div>
        </button>
      }
    </div>
    <div class="w-full h-full overflow-auto">
      <div class="w-full h-full flex flex-col gap-2">
        @if (reactionsResource.isLoading()) {
          <div class="w-full min-h-[70dvh] flex items-center justify-center">
            <span class="loading loading-spinner text-primary"></span>
          </div>
        }
        @if (reactionsResource.hasValue()) {
          <ul class="w-full flex flex-col gap-4 py-2">
            @for (reaction of reactionsResource.value(); track reaction.user.id) {
              <li class="flex items-center gap-2 px-2 md:px-4 lg:px-6">
                <div class="relative flex-shrink-0 w-9 h-9 rounded-full">
                  <img
                    [src]="reaction.user.avatar"
                    alt="avatar"
                    class="w-full h-full rounded-full object-contain object-center"
                  />
                  <img
                    [ngSrc]="reaction.icon"
                    width="16"
                    height="16"
                    alt="icon"
                    class="absolute bottom-0 -right-1/10 object-contain object-center w-4 h-4"
                    />
                </div>
                <div class="w-full h-full flex flex-col leading-2">
                  <a
                    [routerLink]="['/socialex/profile', reaction.user.id]"
                    class="font-semibold text-sm hover:underline"
                    >{{ reaction.user.name }}</a
                  >
                  <span class="text-xxs text-gray-400">{{
                    reaction.user.profession
                  }}</span>
                </div>
              </li>
            } @empty {
              <div class="w-full flex items-center justify-center">
                Sin reacciones
              </div>
            }
          </ul>
        }
      </div>
    </div>
  </div>
</section>
