<div
  class="hero min-h-screen overflow-hidden"
  style="
    background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-title-splash font-bold">Bienvenido</h1>
      <p class="mb-5 text-paragraph-content leading-6">
        Socialex es un proyecto hecho por Alesis que sirve de base para otros
        proyectos de similares caracteristicas, puedes aportar a través del
        repositorio en Github
      </p>
      <a routerLink="/socialex" class="btn btn-primary">Ir a Socialex</a>
    </div>
  </div>
</div>
