<div class="flex flex-col md:gap-1 relative" [formGroup]="formInput()">
  <span
    class="text-xs"
    [class.text-error]="
      formUtils.isValidField(formInput(), inputField().formControlName)
    "
  >
    {{ inputField().title }}
  </span>
  <label
    class="flex items-center border border-transparent gap-2 bg-bg-quaternary p-2 rounded-md focus:outline-primary"
    [ngClass]="{
      'border border-transparent': !formUtils.isValidField(
        formInput(),
        inputField().formControlName
      ),
      'border border-error': formUtils.isValidField(
        formInput(),
        inputField().formControlName
      )
    }"
  >
    <img class="h-4 opacity-50" [src]="inputField().icon" />
    <input
      [type]="inputField().type"
      [placeholder]="inputField().placeholder"
      class="outline-none grow placeholder:text-gray-400 placeholder:text-sm"
      [name]="inputField().formControlName"
      [formControlName]="inputField().formControlName"
    />
  </label>
  <form-error-label
    [controlForm]="formInput()"
    [fieldName]="inputField().formControlName"
  />
</div>
