@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@theme {
  /* Spacing */
  --spacing-header: 4rem;
  --spacing-body: calc(100dvh - var(--spacing-header));
  --spacing-body-mobile: calc(100dvh - (var(--spacing-header) * 2));
  --spacing-aside: 4rem;
  --spacing-aside-active: 16rem;
  --spacing-aside-users: clamp(12rem, 20dvw, 18rem);
  --spacing-reactions: clamp(1rem, 4.5vw, 2rem);
  --spacing-modal-reactions: 50dvh;

  /* Font Size */
  --text-title-splash: clamp(1.5rem, 10dvw, 3.75rem);
  --text-paragraph-content: clamp(0.875rem, 5dvw, 1.25rem);
  --text-xxs: clamp(10px, 3dvw, 12px);

  /* Colors */
  --color-bg-primary: #1C1C1D;
  --color-bg-secondary: #252728;
  --color-bg-tertiary: #333334;
}

.body {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }

  &:has(.modal-reactions) {
    @apply overflow-hidden;
  }
}

.container-alesis {
  @apply w-9/10 max-w-2xl mx-auto overflow-hidden;
}

.comments-container {
  interpolate-size: allow-keywords;
}

.content-post,
.content-comment {
  white-space: pre-wrap;
  word-break: break-word;
}