<div class="container-alesis">
  <h3 class="text-xl font-semibold">A los fans también les gusta</h3>
  <section class="swiper my-4" #swiperArtistsRelated>
    <div class="swiper-wrapper w-full pb-4">
      @for (artist of artistsRelated(); track artist.id) {
        <a class="swiper-slide flex p-4 w-full rounded-lg group hover:bg-bg-tertiary" [routerLink]="['/socialex/music', artist.uri.split(':')[1], artist.uri.split(':')[2]]" draggable="false">
          <article class="w-full flex flex-col gap-4">
            <div class="w-full aspect-square user-select-none">
              <img
                [ngSrc]="artist.visuals ? artist.visuals.avatarImage.sources[0].url : 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Spotify_App_Logo.svg/400px-Spotify_App_Logo.svg.png'"
                width="300"
                height="300"
                [alt]="artist.profile.name"
                class="w-full aspect-square object-cover object-center rounded-full transform group-hover:scale-110 transition-transform duration-300 user-select-none"
                priority
                draggable="false"
              />
            </div>
            <h4 class="text-center text-xs leading-4 user-select-none group-hover:underline">{{ artist.profile.name }}</h4>
          </article>
        </a>
      }
    </div>
    <div class="swiper-button-next rounded-full transition-colors duration-300 hover:bg-bg-primary rotate-90 group">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="opacity-55 transition-opacity duration-300 group-hover:opacity-100"
      >
        <rect width="24" height="24" fill="none" />
        <g fill="#fff">
          <path
            d="m14.829 11.948l1.414-1.414L12 6.29l-4.243 4.243l1.415 1.414L11 10.12v7.537h2V10.12z"
          />
          <path
            fill-rule="evenodd"
            d="M19.778 4.222c-4.296-4.296-11.26-4.296-15.556 0s-4.296 11.26 0 15.556s11.26 4.296 15.556 0s4.296-11.26 0-15.556m-1.414 1.414A9 9 0 1 0 5.636 18.364A9 9 0 0 0 18.364 5.636"
            clip-rule="evenodd"
          />
        </g>
      </svg>
    </div>
    <div class="swiper-button-prev rounded-full transition-colors duration-300 hover:bg-bg-primary -rotate-90 group">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="opacity-55 transition-opacity duration-300 group-hover:opacity-100"
      >
        <rect width="24" height="24" fill="none" />
        <g fill="#fff">
          <path
            d="m14.829 11.948l1.414-1.414L12 6.29l-4.243 4.243l1.415 1.414L11 10.12v7.537h2V10.12z"
          />
          <path
            fill-rule="evenodd"
            d="M19.778 4.222c-4.296-4.296-11.26-4.296-15.556 0s-4.296 11.26 0 15.556s11.26 4.296 15.556 0s4.296-11.26 0-15.556m-1.414 1.414A9 9 0 1 0 5.636 18.364A9 9 0 0 0 18.364 5.636"
            clip-rule="evenodd"
          />
        </g>
      </svg>
    </div>
    <div class="swiper-scrollbar"></div>
  </section>
</div>