<app-section-component>
  <h2 class="text-2xl text-left pb-6">Noticias del Mundo</h2>
  @if (newsResource.isLoading()) {
    <div class="w-full min-h-[70dvh] flex items-center justify-center">
      <span class="loading loading-spinner text-primary"></span>
    </div>
  }
  @if (newsResource.hasValue()) {
    <section class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      @for (news of newsResource.value(); track news.source_publication_id) {
        <a [routerLink]="news.link" class="w-full rounded-md p-2 bg-white group">
          <article class="flex flex-col overflow-hidden">
            <img [ngSrc]="news.photo_url" [alt]="news.title" class="aspect-2/3 max-w-full object-cover object-center transform group-hover:scale-110 transition-all" />
            <div class="flex flex-col gap-1 p-2">
              <h4>{{ news.title }}</h4>
              <p class="text-sm text-gray-500">{{ news.link }}</p>
            </div>
          </article>
        </a>
      }
    </section>
  }
  @if (newsResource.error()) {
    <div role="alert" class="alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Error al cargar noticias.</span>
    </div>
  }
</app-section-component>