<app-section-component>
  <div class="w-full flex flex-col gap-4">
    <div class="w-max mx-auto">
      <label class="input">
        <svg
          class="h-[1em] opacity-50"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input type="search" required placeholder="Search" />
      </label>
    </div>
    <h2 class="text-2xl text-left pb-6">
      Hola de nuevo,
      <a routerLink="/socialex/profile/91" class="text-blue-500">Alesis</a>,
      ¿Qué te apetece hoy?
    </h2>
    <music-explore />
    <music-artist id="5ECec6tOdcX7cIhshkDQxb" />
    <music-artist id="4SpbR6yFEvexJuaBpgAU5p" />
    <music-artist id="36cgvBn0aadzOijnjjwqMN" />
  </div>
</app-section-component>
