<app-section-component>
  <div class="w-full flex flex-col gap-4">
    <music-search-input />
    <h2 class="text-2xl text-left pb-6">
      Hola de nuevo,
      <a [routerLink]="['/socialex/profile', currentUser?.id]" class="text-blue-500">{{currentUser?.name!.split(' ')[0]}}</a>,
      ¿Qué te apetece hoy?
    </h2>
    <music-artists id="0Sadg1vgvaPqGTOjxu0N6c" text="Lo mejor del K-POP clásico" />
    <music-artists id="4SpbR6yFEvexJuaBpgAU5p" text="Lo mejor del K-POP actual" />
    <music-artists id="01CPQQGyqdgTqtyLxPrPur" text="Lo mejor del Rock Peruano" />
    <music-artists id="7An4yvF7hDYDolN4m5zKBp" text="Lo mejor del Rock Clásico" />
    <music-artists id="5he5w2lnU9x7JFhnwcekXX" text="Lo mejor de la electrónica" />
    <music-artists id="67ktO6WKPZ0h4cBxSBBoep" text="Lo mejor de la Cumbia Peruana" />
    <music-artists id="4xCCHj0hE6EX42nCQCcL4F" text="Lo mejor pa los otakus" />
    <!-- <music-artist id="5ECec6tOdcX7cIhshkDQxb" />
    <music-artist id="4SpbR6yFEvexJuaBpgAU5p" />
    <music-artist id="36cgvBn0aadzOijnjjwqMN" /> -->
  </div>
</app-section-component>
